<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{title}}</title>
</head>
<body>
  <h1>Welcome to the {{pageName}}</h1>
  
  <!-- links or URLs are always GET resources as they are getting (retrieving) a resource -->
  <p>The newest cat is {{currentName}}!</p>
  <p>The newest dog is {{dogName}}!</p>

  <a href="/page1">Cat List</a>
  <a href="/page2">Make Cat</a>
  <a href="/page3">Make Dog</a>
  <a href="/page4">Dog List</a>
</body>
</html>