<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{title}}</title>
</head>
<body>
  <h1>Dog List</h1>
  
  <!-- links or URLs are always GET resources as they are getting (retrieving) a resource -->
  <a href="/">Home</a>
  <a href="/page1">Cat List</a>
  <a href="/page2">Make Cat</a>
  <a href="/page3">Make Dog</a>

  {{#if dogs}}
    <ul>
      {{#each dogs}}
        <li> {{this.name}} is a {{this.breed}} who is {{this.age}} years old. </li>
      {{/each}}
    </ul>
  {{/if}}
</body>
</html>